@import "tailwindcss";

:root {
  --primary: #081B33;
  --accent: #C9A03C;
  --background: #ffffff;
  --muted: #F8FAFC;
  --text: #475569;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
  font-weight: 600;
}

.container-custom {
  max-width: 1280px;
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section-padding {
  padding: 7rem 0;
}

.text-gradient {
  color: var(--accent);
}